body {
    display: grid;
    justify-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    letter-spacing: 0.5px;
}

app-root {
    display: grid;
    width: 100%;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

main {
    display: grid;
    justify-items: center;
}

@media screen and (max-width: 1000px) {

    body {
        font-size: 14px;
    }
}

@media screen and (max-width: 700px) {

    body {
        font-size: 12px;
    }
}